name: Update cask versions

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update:
    name: Update cask versions

    runs-on: macos-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v6
      - run: brew test-bot --only-cleanup-before
      - run: brew test-bot --only-setup
      - name: List casks in tap
        id: list-casks
        # List cask files in Casks directory, remove .rb extension, prefix with "jonahsnider/frc/", join with spaces
        run: |
          casks=$(find Casks -maxdepth 1 -name "*.rb" -type f -exec basename {} .rb \; | sed 's/^/jonahsnider\/frc\//' | tr '\n' ' ')
          echo "casks=$casks" >> "$GITHUB_OUTPUT"
      - name: Bump packages
        uses: Homebrew/actions/bump-packages@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          casks: ${{ steps.list-casks.outputs.casks }}
          fork: false
